#
# .editorconfig
#
# Created by Jean-Pierre Höhmann on 18-09-16.
#
# Copyright 2018 Jean-Pierre Höhmann (@NuvandaPV) <jean-pierre@höhmann.info>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/license/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Top-most EditorConfig.
root = true

# Unix-style newlines with a terminating newline for all files, default to utf-8 and indenting with four spaces.
[*]
end_of_line             = lf
insert_final_newline    = true
charset                 = utf-8
indent_style            = space
indent_size             = 4

# Use tab indentation for make files.
[{[Mm]akefile,make.config,*.d}]
indent_style = tab
